Source: live-guest
Section: misc
Priority: extra
Maintainer: Debian Live Project <debian-live@lists.debian.org>
Uploaders: Gaudenz Steinlin <gaudenz@debian.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://live.debian.net/devel/live-guest/
Vcs-Git: git://live.debian.net/git/live-guest.git
Vcs-Browser: http://live.debian.net/gitweb/?p=live-guest.git;a=summary

Package: live-guest
Architecture: all
Depends: consolekit, bindfs (>= 1.10.1), passwd, adduser, eject, procps, user-setup, libpam-script (>> 1.1.5-1), sqlite3, ${misc:Depends}
Description: Debian Live - Guest System for removable Debian Live medias
 live-guest configures your system to automatically mount Debian Live
 systems plugged into your system on removable media. After mounting
 it creates a "live-guest" user with the home directory set to the
 Debian Live user on the media.
 .
 This package is used to setup Debian Live "hubs" where users can plug
 in their live media and work with their data and settings without the
 need to reboot the computer for different users.
 .
 live-guest may compromise the security of your system by allowing
 users access based on information from untrusted removable media.
 Don't install it on systems where you don't want random strangers to
 gain full access.
